/* ***** BEGIN LICENSE BLOCK *****
 * 3e Calendar
 * Copyright © 2011  Zonio s.r.o.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 * ***** END LICENSE BLOCK ***** */

@import url("chrome://messenger/skin/");

@namespace url(
    "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"
);

dialog#calendar3e-webcal-dialog,
dialog#calendar3e-subscription-dialog {
    width: 44em;
}

dialog#calendar3e-subscription-dialog {
    height: 33em;
}

grid#calendar3e-subscription-grid {
    width: 40em;
    height: 25em;
}

treechildren::-moz-tree-checkbox {
  list-style-image: url("chrome://calendar3e/skin/checkbox.gif");
}

treechildren::-moz-tree-checkbox(checked) {
  list-style-image: url("chrome://calendar3e/skin/checkbox-checked.gif");
}

treechildren::-moz-tree-checkbox(disabled) {
  list-style-image: url("chrome://calendar3e/skin/transp.png");
}

treechildren::-moz-tree-image(calendar3e-treecell-icon-user) {
  margin-left: 6px;
  list-style-image: url("chrome://calendar3e/skin/user.png");
}

treechildren::-moz-tree-image(calendar3e-treecell-icon-group) {
  margin-left: 6px;
  list-style-image: url("chrome://calendar3e/skin/group.png");
}

tree#calendar3e-sharing-tree {
  margin-top: 6px;
}

button.calendar3e-permissions {
  margin-top: 6px;
  height: 2.15em;
}

listcell.calendar3e-indent {
  margin-left: 6px;
}
